html,
body {
    height: 100%;
    background-color: #fdfdfd;
    color:#444;
    font-family: "Segoe UI", "Helvetica Neue", "Ubuntu", Helvetica, Arial, sans-serif;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.options {
    width: 100px !important;
    text-align: center;
}
.option-view {
    color: green;
}
.option-update {
    color: orange;
}
.option-delete {
    color: red;
}

.redactor-toolbar {
    border: 1px solid #ddd;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #eee;
}
.redactor-editor {
    border: 1px solid #ddd;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
}

form {
    border: 1px solid #ddd;
    border-radius: 4px;
    border-left: 5px solid #ddd;
    padding: 40px 20px;
    background-color: #fcfcfc;
}

.breadcrumb {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
}

.navbar-default {
    border: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

th {
    background-color: #f7f7f7;
}
.grid-view table {
    border-bottom: 1px solid #ddd !important;
}
.grid-view th {
    border-top: 1px solid #ddd !important;
}
.detail-view {
    border:1px solid #ddd;
}